#wrapper {
  width: 100%;
  height: 100%;
}

.drawer-container {
  width: 100%;
  height: calc(100% - 64px);

  .drawer {
    padding: 5px 0 0 15px;
    display: flex;

    .list {
      .list-item {
        a {
          height: 100%;
        }
      }
    }
  }

  .drawer-content {
    display: flex;
    flex-direction: column;
    main {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
      padding: 10px;
    }
  }
}

.mat-drawer {
  width: 240px;
  height: 100%;
}