<div id="home-view">
  <section class="search-form-section">
    <fieldset class="search-fieldset">
      <mat-form-field appearance="outline" [floatLabel]="searchLabelControl.value">
        <mat-label>Search your city</mat-label>
        <input matInput placeholder="Type a value" [formControl]="searchControl" required>
        <mat-error *ngIf="searchControl.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <button class="search-button"
              mat-flat-button 
              color="primary"
              [disabled]="!searchControl.valid || (loading$ | async)"
              (click)="doSearch()">Search
      </button>
    </fieldset>
    <fieldset class="search-fieldset">
      <shared-cities-autocomplete [formControl]="searchControlWithAutoComplete"></shared-cities-autocomplete>
    </fieldset>
  </section>
  <section class="search-info">
    <ng-container *ngIf="!(loading$ | async) && !(error$ | async) && !!(cityWeather$ | async) && !!(unit$ | async)">
        <current-weather [cityWeather]="cityWeather"
                        (onToggleBookmark)="onToggleBookmark()"
                        [isFavorite]="!!(isCurrentFavorite$ | async)"
                        [unit]="(unit$ | async)!">
        </current-weather>
    </ng-container>
    <div *ngIf="!(loading$ | async) && (error$ | async)">
      <a mat-flat-button [routerLink]="['/']">Try again</a>
    </div>
  </section>
  <mat-progress-spinner
        *ngIf="loading$ | async"
        class="spinner"
        [color]="'primary'"
        [mode]="'indeterminate'">
  </mat-progress-spinner>
</div>