<mat-card class="mat-card">
  <mat-card-title class="mat-card-title">{{ cityName }}</mat-card-title>
<mat-card-content>
  <detailed-weather *ngIf="cityWeather"
      [weather]="cityWeather.weather">
  </detailed-weather>
</mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onToggleBookmark()">
      {{ isFavorite ? 'Remove from bookmarks' : 'Add to bookmarks' }}
    </button>
    <a mat-flat-button [routerLink]="['/details']">View details</a>
  </mat-card-actions>
</mat-card>
