<div id="details-view">
  <div *ngIf="(loading$ | async)" class="loading-container">
      <mat-progress-spinner
          class="spinner"
          [color]="'primary'"
          [mode]="'indeterminate'">
      </mat-progress-spinner>
  </div>
  <ng-container *ngIf="!(error$ | async) && !!(details$ | async)">
    <h1>{{ (details$ | async)?.city?.name }}, {{ (details$ | async)?.city?.country }}</h1>
    <mat-card>
      <detailed-weather [weather]="(details$ | async)!.current" [unit]="(unit$ | async)!"></detailed-weather>
    </mat-card>
    <details-daily-weather *ngFor="let daily of (details$ | async)!.daily"
                           [dailyWeather]="daily"
                           [timeZone]="(details$ | async )!.city!.timeZone"
                           [unit]="(unit$ | async)!">
    </details-daily-weather>
  </ng-container>
</div>

